
:root{
    --verde : #000000 ;
    --azul: #4f9bd8;
    --cinza-medio : #000000;
    --azul-escuro:#222c34;
    --branco:#ffffff;
    --cinza-claro:#e7eff7;
    --nova-cor:#4f9bd8;
    
}

/*NAVBAR*/
#koglinski{
    font-size: x-large;
}

#nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.3s ease, color 0.3s ease; /* Adiciona uma transição suave */
}

#nav.scrolled {
    background-color: var(--nova-cor); /* Substitua com a cor desejada */
    color: var(--branco); /* Substitua com a cor do texto desejada */
}

#nav.scrolled .navbar-brand,
#nav.scrolled .nav-link,
#nav.scrolled .btn {
    color: var(--branco); /* Substitua com a cor do texto desejada */
}


#nav.scrolled .navbar-toggler-icon {
    filter: brightness(0) invert(1); /* Substitua se necessário para melhor visualização */
}
body {
    padding-top: 70px; /* Ajuste conforme a altura real do header */
}

.nav-link {
    text-transform: uppercase;
    font-weight: 600;
}

.nav-link:hover {
    color: var(--verde);
}

#navbarNav a.btn {
    text-transform: uppercase;
    font-weight: 600;
    background-color: var(--verde);
    border-color: var(--verde);
    border: 0;
}

#navbarNav a.btn:hover {
    background-color: var(--azul);
}

.btn.btn-primary.verde:hover {
    background-color: var(--verde);

}

#nav.scrolled .nav-link:hover {
    color: var(--verde); /* Cor desejada para o hover no estado scrollado */
}

#nav.scrolled #navbarNav a.btn:hover {
    background-color: var(--nova-cor); /* Cor desejada para o botão no hover no estado scrollado */
}


.img-header {
    height: 400px;
    width: 400px;
}

/*pagina caes*/

#NovaNav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.3s ease, color 0.3s ease; /* Adiciona uma transição suave */
    background-color: var(--azul);
}

#koglinskiNova{
    color:#ffffff;
    font-size: x-large;
}

/* Home */

#home{
    padding: 30px 30px;
    background-color: var(--azul-escuro);
    background-image: url("/img/paralax.jpg");
    color:var(--branco);
    text-align: center;
}

.paralax{
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    width: 100%;
}


#text-home{
    padding-bottom: 2em;
}

/*Sobre*/
#sobre{
    padding: 80px 0;
    border-bottom: 1px solid #e5e5e5;
}


/* Contato*/
#contato i{
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
} 

#contato{
    padding: 80px 0;
    border-bottom: 1px solid #e5e5e5;
}

#alg{
    display: flex;
    justify-content: center;
    
}

/*caes*/
#caes{
    padding: 80px 0;
    border-bottom: 1px solid #e5e5e5;
}

#itens{
    text-align: center;
}

.square{
    display: flex;
    justify-content: center;
    align-items: center;
}




/* Localização*/

#localização{
    padding: 80px 0;
}


.mapBox{
    position: relative;
    width: 600px;
    height: 500px;
    margin-left: 280px;
}

#iframe{
    width: 600px;
    height: 500px;
    border-radius: 10%;


}

#text-location{
    margin-top: 10em;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;

}

/*Rodape*/
#rodape{
    padding: 30px 30px;
    background-color: var(--azul);
}

footer p a{
    margin: 5px 5px;
    color: var(--branco);
}

footer p a:hover{
    margin: 5px 9px;
    color: var(--branco);
}

footer i{
    color:var(--branco);
}

footer a:hover i{
    color:var(--azul-escuro);
}

