
:root{
    --verde : #c02e29;
    --azul: #0060b1;
    --cinza-medio : #545454;
    --azul-escuro:#222c34;
    --branco:#ffffff;
    --cinza-claro:#ced4da;
}

/*NAVBAR*/
#koglinski{
    font-size: x-large;
}

.nav-link{
    text-transform: uppercase;
    font-weight: 600;
}

.nav-link:hover{
    color:var(--verde);
}

#navbarNav a.btn{
    text-transform: uppercase;
    font-weight: 600;
    background-color: var(--verde);
    border-color: var(--verde);
    border-radius: 0;

}

#navbarNav a.btn:hover{
    background-color: var(--azul);
    border-color: var(--azul);
}


.btn.btn-primary.verde:hover{
    background-color: var(--verde);
    border-color: var(--verde);
}


.img-header{
    height: 400px;
    width: 400px;
}

/* Home */

#home{
    padding: 30px 30px;
    background-color: var(--azul-escuro);
    background-image: url("/img/paralax.jpg");
    color:var(--branco);
    text-align: center;
}

.paralax{
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    width: 100%;
}


#text-home{
    padding-bottom: 2em;
}

/*Sobre*/
#sobre{
    padding: 60px 0;
    border-bottom: 1px solid #e5e5e5;
}


/* Contato*/
#contato i{
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
} 

#contato{
    padding: 60px 0;
    border-bottom: 1px solid #e5e5e5;
}

#alg{
    display: flex;
    justify-content: center;
    
}

/*caes*/


#itens{
    text-align: center;
}

#caes h1{
    text-decoration: underline;
}


/* Localização*/

.mapBox{
    position: relative;
    width: 600px;
    height: 500px;
    background-color: white;
    margin-left: 280px;

}

#text-location{
    margin-top: 10em;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;

}

/*Rodape*/
#rodape{
    padding: 30px 30px;
    background-color: var(--azul);
}

footer p a{
    margin: 5px 5px;
    color: var(--branco);
}

footer p a:hover{
    margin: 5px 9px;
    color: var(--branco);
}

footer i{
    color:var(--branco);
}

footer a:hover i{
    color:var(--azul-escuro);
}

